-@ val name: String
-@ val id: Option[Long]
-@ val info: String
-@ val text: String
-@ val config: String
-@ val stats: String
-@ val result: String

- attributes("title") = name
- attributes("headline") = name

form(method="POST")
  p= info
  - id match
    - case Some(id) =>
      a(href="/log/#{id}") (link to this page)
      br
      br
    - case None =>
      none
  textarea(name="text" style="width: 600px" rows="20") #{text}
  br
  != config
  input(type="submit" value="Submit")
br
pre(style="background-color: transparent; border: 0")
  !~~stats
!~~ result
