<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<filter>
		<filter-name>root</filter-name>
		<filter-class>
			edu.washington.cs.knowitall.nlpweb.RootFilter
		</filter-class>
	</filter>

	<filter>
		<filter-name>parser</filter-name>
		<filter-class>
			edu.washington.cs.knowitall.nlpweb.ParserFilter
		</filter-class>
	</filter>

	<filter>
		<filter-name>coref</filter-name>
		<filter-class>
			edu.washington.cs.knowitall.nlpweb.CoreferenceFilter
		</filter-class>
	</filter>

	<filter>
		<filter-name>constituency</filter-name>
		<filter-class>
			edu.washington.cs.knowitall.nlpweb.ConstituencyParserFilter
		</filter-class>
	</filter>

	<filter>
		<filter-name>stemmer</filter-name>
		<filter-class>
			edu.washington.cs.knowitall.nlpweb.StemmerFilter
		</filter-class>
	</filter>

	<filter>
		<filter-name>sentencer</filter-name>
		<filter-class>
			edu.washington.cs.knowitall.nlpweb.SentencerFilter
		</filter-class>
	</filter>

	<filter>
		<filter-name>chunker</filter-name>
		<filter-class>
			edu.washington.cs.knowitall.nlpweb.ChunkerFilter
		</filter-class>
	</filter>

	<filter>
		<filter-name>tokenizer</filter-name>
		<filter-class>
			edu.washington.cs.knowitall.nlpweb.TokenizerFilter
		</filter-class>
	</filter>

	<filter>
		<filter-name>postagger</filter-name>
		<filter-class>
			edu.washington.cs.knowitall.nlpweb.PosTaggerFilter
		</filter-class>
	</filter>

	<filter>
		<filter-name>extractor</filter-name>
		<filter-class>
			edu.washington.cs.knowitall.nlpweb.ExtractorFilter
		</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>root</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>parser</filter-name>
        <url-pattern>/parser/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>constituency</filter-name>
        <url-pattern>/constituency/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>sentencer</filter-name>
        <url-pattern>/sentencer/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>stemmer</filter-name>
        <url-pattern>/stemmer/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>tokenizer</filter-name>
        <url-pattern>/tokenizer/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>postagger</filter-name>
        <url-pattern>/postagger/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>extractor</filter-name>
        <url-pattern>/extractor/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>chunker</filter-name>
        <url-pattern>/chunker/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>coref</filter-name>
        <url-pattern>/coref/*</url-pattern>
	</filter-mapping>
</web-app>
